/* 
    Document   : NEC_MultiQuestionPoll
    Created on : Dec 9, 2012, 1:20 AM
    Author     : Naomi Crosby
    Assignment : Exercise 40.13
    Description: CSS for last Java II assignment
*/

html, body, div, span, h1, h2, h3, h4, p, a, em, img, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: sans-serif;   /*-- EMPTY --*/
    vertical-align: baseline;
    text-decoration: none;
}

/* Counting the border as the size of the div or whatever element is chosen */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {font-size: 125%; font-weight: bold;}
h2 {font-size: 120%; font-weight: bold;}
h3 {font-size: 115%; font-weight: bold;}
h4 {font-size: 110%; font-weight: bold;}
h5 {font-size: 105%; font-weight: bold;}
 p {font-size: 100%;}
    
a {
    text-decoration: none;
    color: blue;  /*-- EMPTY --*/
    font-weight: bold;
}

html {
    height: 100%;
}

body {  
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: palegoldenrod;        /*-- EMPTY --*/
    line-height: 1.5em;
}

div {
    color: chocolate;
    min-height: 100%;
    width: 85%;                    
    padding: 20px;                 
    margin-left: auto;
    margin-right: auto;
    background-color: cornsilk;         
    border-right: 2px solid rosybrown;  
    border-left: 2px solid rosybrown;   
}

